---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
  firstName: "Vedant Codes",
  country: "India",
  occupation: "Frontend Developer",
  hobbies: ["Coding", "Producing Music", "Learning"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Svelete"];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="about">
    <h2>...And my new Astro Site!</h2>
    <p>Here are few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>
        I Live in {identity.country} and i work as a {identity.occupation}
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My Skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>
</BaseLayout>
