---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
const heroContent = {
  heading: "Welcome to My Blog",
  subHeading: "Crafting high-quality web experiences.",
  description:
    "I'm a passionate developer specializing in building fast, beautiful, and accessible websites. Let's collaborate and create something awesome!",
  ctas: [
    {
      text: "About me",
      link: "/about",
      style: "primary",
    },
    {
      text: "My Blog",
      link: "/blog/",
      style: "secondary",
    },
  ],
  image: {
    src: "https://images.unsplash.com/vector-1743718927226-6fffd45f9d11?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxpbGx1c3RyYXRpb25zLWZlZWR8NjR8fHxlbnwwfHx8fHw%3D",
    alt: " Hero ",
  },
};
---

<BaseLayout pageTitle={pageTitle}>
  <section class="home">
    <h1>{heroContent.heading}</h1>
    <h2>{heroContent.subHeading}</h2>
    <p>{heroContent.description}</p>

    <div class="cta">
      {
        heroContent.ctas.map((cta) => (
          <a href={cta.link} class={cta.style}>
            <button>{cta.text}</button>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
